<footer class="footer">
  <div class="footer-arrow">
    <a href="#" title="Volver al inicio">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icono para volver al inicio"
        title="Icono para volver al inicio"
      />
    </a>
  </div>
  <div class="menu">
    <nav>
      <ul class="menu-list">
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Articles</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Books</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Events</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="social">
    <nav>
      <ul class="menu-social">
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Ir a la página de Adalab"
            target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="copy">
      <h5>&copy;2017</h5>
      <span class="heart">We <i class="fas fa-heart"></i> components</span>
    </div>
  </div>
</footer>
