<footer class="footer">
  <div class="footer__arrow">
    <a href="#home" title="Volver al inicio">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icono para volver al inicio"
        title="Icono para volver al inicio"
      />
    </a>
  </div>
  <div class="footer__nav-container">
    <div class="menu">
      <nav>
        <ul class="menu__list">
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__list--1"
              >Articles</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__list--1"
              >Books</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__list--1"
              >Events</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__list--1"
              >Reasons</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__list--1"
              >Tips</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="social">
      <nav>
        <ul class="menu__social">
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__social--1"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__social--1"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="menu__social--1"
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__copy">
    <h5>&copy;2017</h5>
    <h5 class="footer__copy--heart">
      we <span class="heart1"><i class="fas fa-heart"></i></span> components
    </h5>
  </div>
</footer>
