<footer class="footer">
  <div class="footer__arrow">
    <a href="#home" title="Volver al inicio">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icono para volver al inicio"
        title="Icono para volver al inicio"
      />
    </a>
  </div>
  <div class="footer__nav">
    <div class="footer__nav--menu-articles">
      <nav>
        <ul>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Articles</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Books</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Events</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Reasons</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Tips</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__nav--menu-social">
      <nav>
        <ul>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              title="Ir a la página de Adalab"
              target="_blank"
              class="link"
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__nav--copy">
      <div class="copy">
        <small class="copy__copy-year">&copy;2017</small>
        <span class="copy__copy-heart">
          We <span class="heart1"><i class="fas fa-heart"></i></span> components
        </span>
      </div>
    </div>
  </div>
</footer>
