<div class="hero">
  <div class="hero__title">
    <h1 class="hero__title--principal">
      <span>Anonymous</span>
      <span>Proxy</span>
    </h1>
    <p class="hero__title--paragraph">In hac habitasse plantea dictumst</p>
  </div>
  <div class="scroll">
    <a href="#reasons-to-purchase" title="Ir a la seccion Reasons to purchase">
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Icono para llegar a la seccion de la página Reasons to purchase"
      />
    </a>
  </div>
</div>
