<section>
  <article class="article-tips">
    <div class="article-tips__container">
      <span class="article-tips__container--insomnia">
        <small>Insomnia<span class="span">tips</span></small>
      </span>
      <h2 class="article-tips__container--title">Looking through a window</h2>
      <p class="article-tips__container--text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </div>
    <div class="article-tips__button-go">
      <a
        href="https://adalab.es/"
        title="Ir a la página oficial de Adalab"
        target="_blank"
        >Go</a
      >
    </div>
  </article>
</section>
