<section class="section-reasons">
  <article class="article-reasons">
    <h2 class="section-reasons-title">3 Reasons to purchase</h2>
    <div class="section-reasons-1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="section-reasons-2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie</p>
    </div>
    <div class="section-reasons-3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt</p>
    </div>
    <div class="button-reasons">
      <a
        href="https://adalab.es/"
        title="Ir a la página oficial de Adalab"
        target="_blank"
        >More reasons</a
      >
    </div>
  </article>
</section>
