<section>
  <article class="article-reasons" id="reasons-to-purchase">
    <h2 class="article-reasons__title">3 Reasons to purchase</h2>
    <div class="article-reasons__1">
      <h3 class="article-reasons__1--title">Ut sed metus</h3>
      <p class="article-reasons__1--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="article-reasons__2">
      <h3 class="article-reasons__2--title">Curabitur ac erat</h3>
      <p class="article-reasons__2--text">
        Mauris mattis urna quis lorem molestie
      </p>
    </div>
    <div class="article-reasons__3">
      <h3 class="article-reasons__3--title">Morbi dictum</h3>
      <p class="article-reasons__3--text">
        Aliquam in dolor et dolor tincidunt
      </p>
    </div>
    <div class="article-reasons__button">
      <a
        href="https://adalab.es/"
        title="Ir a la página oficial de Adalab"
        target="_blank"
        class="more-button"
        >More reasons</a
      >
    </div>
  </article>
</section>
