// fonts
$font-title: "Roboto Slab";
$font-main: "Roboto";

// colors
$color-primary: #ffffff;
$color-secundary: #304268;
$color-tertiary: #f26002;
$color-light: #8ccbea;
$color-midtone: #0271bc;
$color-dark: #000000;
