.article-tips {
  background-color: $color-primary;
  display: block;
  margin-top: 30px;
}

.article-tips__container {
  margin: 30px 15px 0 15px;
}

.article-tips__container--insomnia {
  color: $color-light-midtone;
  font-family: $font-main;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 30px;
}

.span {
  text-transform: capitalize;
}

.article-tips__container--title {
  font-family: $font-title;
  font-size: 24px;
  color: $color-dark;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
}

.article-tips__container--text {
  font-family: $font-main;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.go-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 229px 45px 15px;
  border: 2px solid $color-tertiary;
  border-radius: 22.5px;
  height: 45px;
  width: 76px;
  text-decoration: none;
  color: $color-tertiary;
  font-size: 20px;
  font-weight: bold;
  font-family: $font-main;
  line-height: 45px;
  transition: background-color ease 0.5s, border ease 0.5s;
}

.go-button:hover {
  background-color: $color-tertiary;
  border: 2px solid $color-light;
  color: $color-light;
}

@media all and (min-width: 768px) {
  .article-tips__container {
    margin: 30px 39px 0 39px;
  }

  .article-tips__container--title {
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  .article-tips__container--text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .go-button {
    margin: 0 638px 60px 39px;
    height: 45px;
    width: 91px;
  }
}

@media all and (min-width: 1200px) {
  .article-tips__container {
    margin: 60px 275px 0 275px;
  }

  .article-tips__container--insomnia {
    font-size: 16px;
    line-height: 30px;
  }

  .article-tips__container--title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  .article-tips__container--text {
    font-size: 20px;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .go-button {
    margin: 0 845px 60px 275px;
    height: 45px;
    width: 160px;
  }
}
