.footer {
  background-color: $color-secundary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 465px;
  width: 100%;
}

.footer__arrow {
  position: absolute;
  top: -25px;
  width: 45px;
  height: 45px;
  background-color: $color-primary;
  border-radius: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__nav {
  color: $color-primary;
}

.link {
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;
}

.menu-articles {
  background-color: red;
}

.menu-social {
  background-color: yellow;
}

.copy {
  background-color: green;
}

/* .heart1 {
  color: $color-tertiary;
}
 */

@media all and (min-width: 768px) {
  .footer__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }
  .menu-articles {
    background-color: red;
    order: 0;
  }

  .menu-social {
    background-color: yellow;
    order: 1;
  }

  .copy {
    background-color: green;
    order: -1;
  }
}

@media all and (min-width: 1200px) {
  .menu-articles {
    background-color: red;
    order: 0;
  }

  .menu-social {
    background-color: yellow;
    order: 1;
  }

  .copy {
    background-color: green;
    order: -1;
  }
}
