.footer {
  background-color: $color-secundary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 465px;
  width: 100%;
  &__arrow {
    width: 45px;
    height: 45px;
    background-color: $color-primary;
    border-radius: 22.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: intro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    @keyframes intro {
      0% {
        transform: translate(0, -50px);
      }
      100% {
        transform: translate(0, -30px);
      }
    }
  }

  &__nav {
    color: $color-primary;
    &--menu-articles {
      height: 150px;
      margin-bottom: 30px;
      line-height: 30px;
    }
    &--menu-social {
      height: 90px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &--copy {
      height: 60px;
      line-height: 30px;
      font-family: $font-main;
      text-transform: lowercase;
      line-height: 30px;
    }
    .link {
      font-family: $font-main;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-primary;
    }

    .copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .heart1 {
      color: $color-tertiary;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    height: 240px;
    &__arrow {
      transform: translate(0px, -30px);

      @keyframes intro {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(0, -30px);
        }
      }
    }
    &__nav {
      display: flex;
      flex-direction: row;
      text-align: left;
      &--menu-articles {
        width: 210px;
        padding: 0;
        order: 0;
      }
      &--menu-social {
        width: 210px;
        padding: 0;
        order: 1;
      }

      &--copy {
        width: 210px;
        order: -1;
        .copy {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .footer-nav {
    &--menu-articles {
      width: 161px;
      padding: 0;
      order: 0;
    }

    &--menu-social {
      width: 161px;
      padding: 0;
      order: 1;
    }

    &--copy {
      width: 161px;
      padding-right: 0px;
      order: -1;
    }
  }
}
